# 12- Wine

In [5]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

wine_directory = working_directory / '12-wine' / 'wine.data'
wine_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/12-wine/wine.data')

In [6]:
df_wine = pd.read_csv(wine_directory, header=None)
df_wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [7]:
wine_columns = ['Target','Alcohol', 'Malic-acid', 'Ash','Alcalinity_of_ash', 'Magnesium', 'Total_phenols', 'Flavanoids', 'Nonflavanoid_phenols', 'Proanthocyanins', 'Color_intensity', 'Hue', 'OD280/OD315_of_diluted wines', 'Proline']
df_wine.columns = wine_columns
desired_column_order = ['Alcohol', 'Malic-acid', 'Ash','Alcalinity_of_ash', 'Magnesium', 'Total_phenols', 'Flavanoids', 'Nonflavanoid_phenols', 'Proanthocyanins', 'Color_intensity', 'Hue', 'OD280/OD315_of_diluted wines', 'Proline','Target']  # Change the order as needed

# Select the DataFrame with the desired column order
df_wine = df_wine[desired_column_order]
df_wine

,Alcohol,Malic-acid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,OD280/OD315_of_diluted wines,Proline,Target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

In [8]:
# Save the DataFrame to a CSV file
csv_filename = '12-wine.csv'
df_wine.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# 11- Tic_tac_toe
One hot encoding

In [12]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

tic_tac_toe_directory = working_directory / '11-tic+tac+toe+endgame' / 'tic-tac-toe.data'
tic_tac_toe_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/11-tic+tac+toe+endgame/tic-tac-toe.data')

In [45]:
df_tic_tac_toe = pd.read_csv(tic_tac_toe_directory, header=None)
df_tic_tac_toe

     0  1  2  3  4  5  6  7  8         9
0    x  x  x  x  o  o  x  o  o  positive
1    x  x  x  x  o  o  o  x  o  positive
2    x  x  x  x  o  o  o  o  x  positive
3    x  x  x  x  o  o  o  b  b  positive
4    x  x  x  x  o  o  b  o  b  positive
..  .. .. .. .. .. .. .. .. ..       ...
953  o  x  x  x  o  o  o  x  x  negative
954  o  x  o  x  x  o  x  o  x  negative
955  o  x  o  x  o  x  x  o  x  negative
956  o  x  o  o  x  x  x  o  x  negative
957  o  o  x  x  x  o  o  x  x  negative

[958 rows x 10 columns]

In [46]:
tic_tac_toe_columns = ['top-left-square','top-middle-square', 'top-right-square', 'middle-left-square','middle-middle-square', 'middle-right-square', ' bottom-left-square', 'bottom-middle-square', 'bottom-right-square', 'Target']
df_tic_tac_toe.columns = tic_tac_toe_columns
df_tic_tac_toe['Target'] = df_tic_tac_toe['Target'].map({'positive':1, 'negative':0})
df_tic_tac_toe['Target'].value_counts()

Target
1    626
0    332
Name: count, dtype: int64

In [47]:
df_tic_tac_toe.isnull().sum() #--> No missing values

top-left-square         0
top-middle-square       0
top-right-square        0
middle-left-square      0
middle-middle-square    0
middle-right-square     0
 bottom-left-square     0
bottom-middle-square    0
bottom-right-square     0
Target                  0
dtype: int64

In [48]:
# Perform one-hot encoding
df_tic_tac_toe_encoded = pd.get_dummies(df_tic_tac_toe.iloc[:,:-1]) # --> except the last columns
df_tic_tac_toe_encoded = pd.concat([df_tic_tac_toe_encoded, df_tic_tac_toe.iloc[:,-1]], axis=1)
df_tic_tac_toe_encoded

,top-left-square_b,top-left-square_o,top-left-square_x,top-middle-square_b,top-middle-square_o,top-middle-square_x,top-right-square_b,top-right-square_o,top-right-square_x,middle-left-square_b,...,bottom-left-square_b,bottom-left-square_o,bottom-left-square_x,bottom-middle-square_b,bottom-middle-square_o,bottom-middle-square_x,bottom-right-square_b,bottom-right-square_o,bottom-right-square_x,Target
0,False,False,True,False,False,True,False,False,True,False,...,False,False,True,False,True,False,False,True,False,1
1,False,False,True,False,False,True,False,False,True,False,...,False,True,False,False,False,True,False,True,False,1
2,False,False,True,False,False,True,False,False,True,False,...,False,True,False,False,True,False,False,False,True,1
3,False,False,True,False,False,True,False,False,True,False,...,False,True,False,True,False,False,True,False,False,1
4,False,False,True,False,False,True,False,False,True,False,...,True,False,False,False,True,False,True,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,False,True,False,False,False,True,False,False,True,False,...,False,True,False,False,False,True,False,False,True,0
954,False,True,False,False,False,True,False,True,False,False,...,False,False,True,False,True,False,False,False,True,0
955,False,True,False,False,False,True,False,True,False,False,...,False,False,True,False,True,False,False,False,True,0
956,False,True,False,False,False,True,False,True,False,False,...,False,False,True,False,True,False,False,False,True,0
957,False,True,False,False,True,False,False,False,True,False,...,False,True,False,False,False,True,False,False,True,0

In [49]:
# Convert True and False to 1 and 0 respectively
df_tic_tac_toe_encoded = df_tic_tac_toe_encoded.astype(int)
df_tic_tac_toe_encoded

,top-left-square_b,top-left-square_o,top-left-square_x,top-middle-square_b,top-middle-square_o,top-middle-square_x,top-right-square_b,top-right-square_o,top-right-square_x,middle-left-square_b,...,bottom-left-square_b,bottom-left-square_o,bottom-left-square_x,bottom-middle-square_b,bottom-middle-square_o,bottom-middle-square_x,bottom-right-square_b,bottom-right-square_o,bottom-right-square_x,Target
0,0,0,1,0,0,1,0,0,1,0,...,0,0,1,0,1,0,0,1,0,1
1,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1,0,1
2,0,0,1,0,0,1,0,0,1,0,...,0,1,0,0,1,0,0,0,1,1
3,0,0,1,0,0,1,0,0,1,0,...,0,1,0,1,0,0,1,0,0,1
4,0,0,1,0,0,1,0,0,1,0,...,1,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
954,0,1,0,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
955,0,1,0,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
956,0,1,0,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
957,0,1,0,0,1,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [50]:
# Save the DataFrame to a CSV file
csv_filename = '11-tic+tac+toe.csv'
df_tic_tac_toe_encoded.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# 10- teaching-assistant-evaluation-dataset

In [71]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

teaching_assistant_directory = working_directory / '10-teaching-assistant-evaluation-dataset' / 'tae.data'
teaching_assistant_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/10-teaching-assistant-evaluation-dataset/tae.data')

In [72]:
df_tea = pd.read_csv(teaching_assistant_directory, header=None)
df_tea

     0   1   2  3   4  5
0    1  23   3  1  19  3
1    2  15   3  1  17  3
2    1  23   3  2  49  3
3    1   5   2  2  33  3
4    2   7  11  2  55  3
..  ..  ..  .. ..  .. ..
146  2   3   2  2  26  1
147  2  10   3  2  12  1
148  1  18   7  2  48  1
149  2  22   1  2  51  1
150  2   2  10  2  27  1

[151 rows x 6 columns]

In [73]:
tea_columns = ['native_TA','Course_instructor', 'Course', 'Summer_or_regular_semester','Class-size', 'Target']
df_tea.columns = tea_columns
df_tea

,native_TA,Course_instructor,Course,Summer_or_regular_semester,Class-size,Target
0,1,23,3,1,19,3
1,2,15,3,1,17,3
2,1,23,3,2,49,3
3,1,5,2,2,33,3
4,2,7,11,2,55,3
...,...,...,...,...,...,...
146,2,3,2,2,26,1
147,2,10,3,2,12,1
148,1,18,7,2,48,1
149,2,22,1,2,51,1
150,2,2,10,2,27,1

In [74]:
# Perform one-hot encoding
df_tea_encoded = pd.get_dummies(df_tea.iloc[:,:-2].astype('category')) # --> except the last 2 columns
df_tea_encoded = pd.concat([df_tea_encoded, df_tea.iloc[:,-2:]], axis=1)
df_tea_encoded

,native_TA_1,native_TA_2,Course_instructor_1,Course_instructor_2,Course_instructor_3,Course_instructor_4,Course_instructor_5,Course_instructor_6,Course_instructor_7,Course_instructor_8,...,Course_21,Course_22,Course_23,Course_24,Course_25,Course_26,Summer_or_regular_semester_1,Summer_or_regular_semester_2,Class-size,Target
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,19,3
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,17,3
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,49,3
3,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,33,3
4,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,True,55,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,26,1
147,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,12,1
148,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,48,1
149,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,51,1
150,False,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,27,1

In [75]:
df_tea_encoded = df_tea_encoded.astype(int)
df_tea_encoded

,native_TA_1,native_TA_2,Course_instructor_1,Course_instructor_2,Course_instructor_3,Course_instructor_4,Course_instructor_5,Course_instructor_6,Course_instructor_7,Course_instructor_8,...,Course_21,Course_22,Course_23,Course_24,Course_25,Course_26,Summer_or_regular_semester_1,Summer_or_regular_semester_2,Class-size,Target
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,19,3
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,17,3
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,49,3
3,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,33,3
4,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,55,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,26,1
147,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,12,1
148,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,48,1
149,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,51,1
150,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,27,1

In [76]:
# Save the DataFrame to a CSV file
csv_filename = '10-teaching_assistant.csv'
df_tea_encoded.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# 7- ionosphere

In [77]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

ionosphere_directory = working_directory / '7-ionosphere' / 'ionosphere.data'
ionosphere_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/7-ionosphere/ionosphere.data')

In [126]:
df_ionosphere = pd.read_csv(ionosphere_directory, header=None)
df_ionosphere 
# --> all features are continues except the last one which is Target variable and is binary

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

In [83]:
df_ionosphere.iloc[:,-1].value_counts() # --> target feature

34
g    225
b    126
Name: count, dtype: int64

In [85]:
df_ionosphere.iloc[:,-1]= df_ionosphere.iloc[:,-1].map({'g':1, 'b':0})
df_ionosphere

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,1
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,1
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,1
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,1
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,1

In [86]:
# Save the DataFrame to a CSV file
csv_filename = '7-ionosphere.csv'
df_ionosphere.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# 6- Heart

In [113]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

heart_directory = working_directory / '6-statlog+heart' / 'statlog_heart.csv'
heart_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/6-statlog+heart/statlog_heart.csv')

In [114]:
df_heart = pd.read_csv(heart_directory).drop('patient_id',axis=1)
df_heart

,age,sex,chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,resting electrocardiographic results,maximum heart rate achieved,exercise induced angina,oldpeak,the slope of the peak exercise ST segment,number of major vessels,thal,class
0,70.0,1.0,4.0,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,1
1,67.0,0.0,3.0,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,0
2,57.0,1.0,2.0,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,1
3,64.0,1.0,4.0,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,0
4,74.0,0.0,2.0,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,1.0,3.0,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,0
266,44.0,1.0,2.0,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,0
267,56.0,0.0,2.0,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,0
268,57.0,1.0,4.0,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,0
269,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1

In [115]:
heart_target_col =  df_heart.loc[:,'class']
df_heart = df_heart.drop('class',axis=1)

categorical_columns = ['sex', 'chest pain type', 'fasting blood sugar',
       'resting electrocardiographic results', 'exercise induced angina','thal']

num_columns = [c for c in list(df_heart.columns) if c not in categorical_columns]

In [116]:
df_heart_encoded = pd.get_dummies(df_heart.loc[:,categorical_columns].astype('category')).astype(int)
df_heart_encoded = pd.concat([df_heart_encoded, df_heart.loc[:,num_columns]], axis=1)
df_heart_encoded['Target'] = heart_target_col
df_heart_encoded

,sex_0.0,sex_1.0,chest pain type_1.0,chest pain type_2.0,chest pain type_3.0,chest pain type_4.0,fasting blood sugar_0.0,fasting blood sugar_1.0,resting electrocardiographic results_0.0,resting electrocardiographic results_1.0,...,thal_6.0,thal_7.0,age,resting blood pressure,serum cholestoral,maximum heart rate achieved,oldpeak,the slope of the peak exercise ST segment,number of major vessels,Target
0,0,1,0,0,0,1,1,0,0,0,...,0,0,70.0,130.0,322.0,109.0,2.4,2.0,3.0,1
1,1,0,0,0,1,0,1,0,0,0,...,0,1,67.0,115.0,564.0,160.0,1.6,2.0,0.0,0
2,0,1,0,1,0,0,1,0,1,0,...,0,1,57.0,124.0,261.0,141.0,0.3,1.0,0.0,1
3,0,1,0,0,0,1,1,0,1,0,...,0,1,64.0,128.0,263.0,105.0,0.2,2.0,1.0,0
4,1,0,0,1,0,0,1,0,0,0,...,0,0,74.0,120.0,269.0,121.0,0.2,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,0,1,0,0,1,0,0,1,1,0,...,0,1,52.0,172.0,199.0,162.0,0.5,1.0,0.0,0
266,0,1,0,1,0,0,1,0,1,0,...,0,1,44.0,120.0,263.0,173.0,0.0,1.0,0.0,0
267,1,0,0,1,0,0,1,0,0,0,...,0,0,56.0,140.0,294.0,153.0,1.3,2.0,0.0,0
268,0,1,0,0,0,1,1,0,1,0,...,1,0,57.0,140.0,192.0,148.0,0.4,2.0,0.0,0
269,0,1,0,0,0,1,1,0,0,0,...,0,0,67.0,160.0,286.0,108.0,1.5,2.0,3.0,1

In [117]:
# Save the DataFrame to a CSV file
csv_filename = '6-heart.csv'
df_heart_encoded.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# 5- Ecoli

In [140]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

ecoli_directory = working_directory / '5-ecoli' / 'ecoli.data'
ecoli_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/5-ecoli/ecoli.data')

In [141]:
custom_delimiter = r'\s+' # some various number of spaces between columns
df_ecoli = pd.read_csv(ecoli_directory, sep=custom_delimiter, header=None)
df_ecoli

              0     1     2     3    4     5     6     7   8
0     AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35  cp
1    ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44  cp
2    ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46  cp
3    ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36  cp
4     ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35  cp
..          ...   ...   ...   ...  ...   ...   ...   ...  ..
331  TREA_ECOLI  0.74  0.56  0.48  0.5  0.47  0.68  0.30  pp
332  UGPB_ECOLI  0.71  0.57  0.48  0.5  0.48  0.35  0.32  pp
333  USHA_ECOLI  0.61  0.60  0.48  0.5  0.44  0.39  0.38  pp
334  XYLF_ECOLI  0.59  0.61  0.48  0.5  0.42  0.42  0.37  pp
335  YTFQ_ECOLI  0.74  0.74  0.48  0.5  0.31  0.53  0.52  pp

[336 rows x 9 columns]

In [142]:
df_ecoli = df_ecoli.drop(0,axis=1)
df_ecoli

        1     2     3    4     5     6     7   8
0    0.49  0.29  0.48  0.5  0.56  0.24  0.35  cp
1    0.07  0.40  0.48  0.5  0.54  0.35  0.44  cp
2    0.56  0.40  0.48  0.5  0.49  0.37  0.46  cp
3    0.59  0.49  0.48  0.5  0.52  0.45  0.36  cp
4    0.23  0.32  0.48  0.5  0.55  0.25  0.35  cp
..    ...   ...   ...  ...   ...   ...   ...  ..
331  0.74  0.56  0.48  0.5  0.47  0.68  0.30  pp
332  0.71  0.57  0.48  0.5  0.48  0.35  0.32  pp
333  0.61  0.60  0.48  0.5  0.44  0.39  0.38  pp
334  0.59  0.61  0.48  0.5  0.42  0.42  0.37  pp
335  0.74  0.74  0.48  0.5  0.31  0.53  0.52  pp

[336 rows x 8 columns]

In [143]:
# label encoding for target variable
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
# Fit the label encoder to the data and transform the data
encoded_target = label_encoder.fit_transform(df_ecoli.iloc[:,-1])
encoded_target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       3, 3, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7])

In [144]:
df_ecoli.iloc[:,-1] = encoded_target
df_ecoli

        1     2     3    4     5     6     7  8
0    0.49  0.29  0.48  0.5  0.56  0.24  0.35  0
1    0.07  0.40  0.48  0.5  0.54  0.35  0.44  0
2    0.56  0.40  0.48  0.5  0.49  0.37  0.46  0
3    0.59  0.49  0.48  0.5  0.52  0.45  0.36  0
4    0.23  0.32  0.48  0.5  0.55  0.25  0.35  0
..    ...   ...   ...  ...   ...   ...   ... ..
331  0.74  0.56  0.48  0.5  0.47  0.68  0.30  7
332  0.71  0.57  0.48  0.5  0.48  0.35  0.32  7
333  0.61  0.60  0.48  0.5  0.44  0.39  0.38  7
334  0.59  0.61  0.48  0.5  0.42  0.42  0.37  7
335  0.74  0.74  0.48  0.5  0.31  0.53  0.52  7

[336 rows x 8 columns]

In [145]:
# Save the DataFrame to a CSV file
csv_filename = '5-ecoli.csv'
df_ecoli.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# 4- Car_Evaluation

In [160]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

car_directory = working_directory / '4-car_evaluation' / 'car.data'
car_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/4-car_evaluation/car.data')

In [161]:
df_car = pd.read_csv(car_directory,header=None)
df_car

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

In [162]:
# label encoding for target variable
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# Fit the label encoder to the data and transform the data
target_encoded = label_encoder.fit_transform(df_car.iloc[:,-1])
target_encoded

array([2, 2, 2, ..., 2, 1, 3])

In [163]:
df_car.iloc[:,-1] = target_encoded

In [164]:
df_car

          0      1      2     3      4     5  6
0     vhigh  vhigh      2     2  small   low  2
1     vhigh  vhigh      2     2  small   med  2
2     vhigh  vhigh      2     2  small  high  2
3     vhigh  vhigh      2     2    med   low  2
4     vhigh  vhigh      2     2    med   med  2
...     ...    ...    ...   ...    ...   ... ..
1723    low    low  5more  more    med   med  1
1724    low    low  5more  more    med  high  3
1725    low    low  5more  more    big   low  2
1726    low    low  5more  more    big   med  1
1727    low    low  5more  more    big  high  3

[1728 rows x 7 columns]

In [165]:
car_columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'target']
df_car.columns = car_columns
df_car

     buying  maint  doors persons lug_boot safety target
0     vhigh  vhigh      2       2    small    low      2
1     vhigh  vhigh      2       2    small    med      2
2     vhigh  vhigh      2       2    small   high      2
3     vhigh  vhigh      2       2      med    low      2
4     vhigh  vhigh      2       2      med    med      2
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med      1
1724    low    low  5more    more      med   high      3
1725    low    low  5more    more      big    low      2
1726    low    low  5more    more      big    med      1
1727    low    low  5more    more      big   high      3

[1728 rows x 7 columns]

In [166]:
df_car_encoded = pd.get_dummies(df_car.iloc[:,:-1]).astype(int)
df_car_encoded = pd.concat([df_car_encoded, df_car.iloc[:,-1]], axis=1)
df_car_encoded

,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,doors_3,...,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med,target
0,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,0,1,0,2
1,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,0,0,1,2
2,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,1,0,0,2
3,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,2
4,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,1
1724,0,1,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,1,0,0,3
1725,0,1,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,2
1726,0,1,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1
1727,0,1,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,1,0,0,3

In [167]:
# Save the DataFrame to a CSV file
csv_filename = '4-car.csv'
df_car_encoded.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# 3- Brest Cancer

In [249]:
import pandas as pd
import numpy as np
from pathlib import Path

working_directory = Path.cwd()

cancer_directory = working_directory / '3-breast_cancer_wisconsin_original' / 'breast-cancer-wisconsin.data'
cancer_directory

WindowsPath('d:/My_codes/unsupervised_feature_selection/data/3-breast_cancer_wisconsin_original/breast-cancer-wisconsin.data')

In [250]:
df_cancer = pd.read_csv(cancer_directory,header=None)
df_cancer

          0   1   2   3   4   5   6   7   8   9   10
0    1000025   5   1   1   1   2   1   3   1   1   2
1    1002945   5   4   4   5   7  10   3   2   1   2
2    1015425   3   1   1   1   2   2   3   1   1   2
3    1016277   6   8   8   1   3   4   3   7   1   2
4    1017023   4   1   1   3   2   1   3   1   1   2
..       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   776715   3   1   1   1   3   2   1   1   1   2
695   841769   2   1   1   1   2   1   1   1   1   2
696   888820   5  10  10   3   7   3   8  10   2   4
697   897471   4   8   6   4   3   4  10   6   1   4
698   897471   4   8   8   5   4   5  10   4   1   4

[699 rows x 11 columns]

In [251]:
df_cancer = df_cancer.drop(df_cancer.columns[0], axis=1)
df_cancer

     1   2   3   4   5   6   7   8   9   10
0     5   1   1   1   2   1   3   1   1   2
1     5   4   4   5   7  10   3   2   1   2
2     3   1   1   1   2   2   3   1   1   2
3     6   8   8   1   3   4   3   7   1   2
4     4   1   1   3   2   1   3   1   1   2
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
694   3   1   1   1   3   2   1   1   1   2
695   2   1   1   1   2   1   1   1   1   2
696   5  10  10   3   7   3   8  10   2   4
697   4   8   6   4   3   4  10   6   1   4
698   4   8   8   5   4   5  10   4   1   4

[699 rows x 10 columns]

In [252]:
df_cancer.columns = ['Clump Thickness', 'Uniformity of Cell Size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size',
                     'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'Target']
df_cancer

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Target
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [253]:
df_cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Clump Thickness              699 non-null    int64
 1   Uniformity of Cell Size      699 non-null    int64
 2   Uniformity of Cell Shape     699 non-null    int64
 3   Marginal Adhesion            699 non-null    int64
 4   Single Epithelial Cell Size  699 non-null    int64
 5   Bare Nuclei                  699 non-null    object
 6   Bland Chromatin              699 non-null    int64
 7   Normal Nucleoli              699 non-null    int64
 8   Mitoses                      699 non-null    int64
 9   Target                       699 non-null    int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [254]:
df_cancer.isnull().sum()

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Target                         0
dtype: int64

In [255]:
df_cancer = df_cancer.replace('?', np.nan)

In [256]:
df_cancer.isnull().sum()

Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
Single Epithelial Cell Size     0
Bare Nuclei                    16
Bland Chromatin                 0
Normal Nucleoli                 0
Mitoses                         0
Target                          0
dtype: int64

In [260]:
df_cancer['Bare Nuclei'] = df_cancer['Bare Nuclei'].fillna(df_cancer['Bare Nuclei'].mode().iloc[0])

In [261]:
df_cancer.isnull().sum()

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Target                         0
dtype: int64

In [262]:
df_cancer['Bare Nuclei'] = df_cancer['Bare Nuclei'].astype(int)

In [263]:
df_cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Clump Thickness              699 non-null    int64
 1   Uniformity of Cell Size      699 non-null    int64
 2   Uniformity of Cell Shape     699 non-null    int64
 3   Marginal Adhesion            699 non-null    int64
 4   Single Epithelial Cell Size  699 non-null    int64
 5   Bare Nuclei                  699 non-null    int32
 6   Bland Chromatin              699 non-null    int64
 7   Normal Nucleoli              699 non-null    int64
 8   Mitoses                      699 non-null    int64
 9   Target                       699 non-null    int64
dtypes: int32(1), int64(9)
memory usage: 52.0 KB

In [264]:
# Save the DataFrame to a CSV file
csv_filename = '3-cancer.csv'
df_cancer.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column